@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin 'tailwind-scrollbar';

.ck-content {
    min-height: 350px;
    color: black;
}

.ck-content h2,
.ck-content h3,
.ck-content h4 {
    font-size: 25px;
    font-weight: bold;
}

.ck-content a,
.post-content a {
    color: blueviolet;
}

.ck-content a:hover,
.post-content a:hover {
    text-decoration: underline;
}

.post-content p,
ul {
    margin-bottom: 20px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.post-content blockquote {
    background-color: #1e293b;
    border: 1px solid rgb(61, 69, 83);
    color: #e8e7e7;
    white-space: pre-wrap;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: monospace;
    font-size: 18px;
}

.post-content blockquote p {
    margin-bottom: 0;
}
